workflow/personal assistant using telegram.json
{
  "name": "personal assistant using telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1088,
        0
      ],
      "id": "74c67657-98ff-4146-b9a3-d0f8393a48a4",
      "name": "Telegram Trigger",
      "webhookId": "165b1fcf-2e2c-4d3a-a705-8d7c3bb450de",
      "credentials": {
        "telegramApi": {
          "id": "8aanK0UjIWyRNTsh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=\nYou are a personal assistant that helps fulfill their request.\nwhen you are asked to perform a task on current_date , please  use the current time and date :  {{ $now }}\n\n\n##Output\nIf the user asks about calendar events, schedule, meetings, or dates,\nYOU MUST call the tool `calendar_flow_agent`.\n\nIf the user asks about tasks or to-dos,\nYOU MUST call the tool `get_google_tasks`.\n\nUse the current date and time: {{ $now }}\n\nDo not answer from memory.\nDo not apologize for technical issues.\nAlways use tools when required.\n\nIMPORTANT:\nWhenever you call a tool, you MUST return the tool's output\nas a clear, user-friendly message.\nNever stop after calling a tool.\n\nDo NOT remember or reference previous calendar queries or tool results.\nEach calendar query must be handled independently.\nNever say “you already asked this”.\nAlways fetch fresh data using tools.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        -32
      ],
      "id": "458d0919-3927-41ad-8631-6526588ab6cb",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de43e0c4-85d0-454e-b3d5-aef73cf31886",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "3c851795-11a2-4f0d-9ba0-c1257a598c22",
              "name": "sessionid",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -48
      ],
      "id": "611912c2-32cc-4ac3-b36b-d0d24a25d0b4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        -32
      ],
      "id": "36a8b3be-2b82-4824-9051-16b5d493ad63",
      "name": "Send a text message",
      "webhookId": "c84b2fa7-e3c8-421f-a053-af5a12009907",
      "credentials": {
        "telegramApi": {
          "id": "8aanK0UjIWyRNTsh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=Key: calendar-session-{{ $json.sessionid || $now }}\n",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        336
      ],
      "id": "1224bb4a-8cf2-42fb-9f9b-9b0ecddd3779",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "6162ee04-0c58-472b-975a-1475d4d7e181"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -784,
        0
      ],
      "id": "c5f9369b-07ef-4fa6-8c1b-84b185728c16",
      "name": "Switch"
    },
    {
      "parameters": {
        "description": "Use this tool to fetch or create Google Calendar events.\nMUST be used for any query related to calendar, schedule, meetings, or events.\n\n",
        "workflowId": {
          "__rl": true,
          "value": "N8PhVNnAipraJLYpPMtch",
          "mode": "list",
          "cachedResultUrl": "/workflow/N8PhVNnAipraJLYpPMtch",
          "cachedResultName": "My Google Calender Agent Flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('text', ``, 'string') }}",
            "sessionid": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionid",
              "displayName": "sessionid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        656,
        240
      ],
      "id": "4b053cca-7382-458f-b303-fc765bff9ead",
      "name": "calendar_flow_agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to fetch Google Tasks.\nMUST be used when the user asks about tasks or to-do items.\n",
        "operation": "getAll",
        "task": "MTYzMTMyNjUwNTU3MjU0MTk2NTU6MDow",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {
          "showCompleted": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Show_Completed', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        368,
        256
      ],
      "id": "1eb8395c-5192-493e-bec4-54ad79cd8e3b",
      "name": "get_google_tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "v7rOdZ2JcEkeXZLn",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama-3.1-8b-instant",
          "mode": "list"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        192
      ],
      "id": "46ee3a14-6c84-425d-890e-828b69a7b8f0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gKFO8QbztyrQnwzn",
          "name": "OpenAi account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calendar_flow_agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_google_tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "36d41e0a-2568-4f45-a513-6c794eb7c50c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d8e3be2b154937575e3514f18cadded9683ad990d8caef9b59e0605484d90045"
  },
  "id": "7m4UIkd8WOcRn1BxfJrLm",
  "tags": [
    {
      "updatedAt": "2026-01-20T15:26:47.579Z",
      "createdAt": "2026-01-20T15:26:47.579Z",
      "id": "u1GxZR4zobzn07PL",
      "name": "telegram"
    },
    {
      "updatedAt": "2026-01-20T15:26:55.057Z",
      "createdAt": "2026-01-20T15:26:55.057Z",
      "id": "yrf7lHuWuXSnf3qN",
      "name": "assistant"
    }
  ]
}